name: Swift

on:
  push:
    branches: [ develop ]
jobs:
  merge_dev_into_master:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Merge development -> staging
      uses: devmasx/merge-branch@v1.3.0
      with:
       type: now
       from_branch: develop
       target_branch: master
       github_token: ${{ github.token }}
